<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    Name:{{employe.name}}
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">designation:{{employe.designation}}</li>
                    <li class="list-group-item">salary:{{employe.salary}}</li>
                    <li class="list-group-item">location:{{employe.location}}</li>
                    <li class="list-group-item">email:{{employe.email}}</li>

                </ul>
            </div>
        </div>

    </div>
</div>
</body>
</html>